@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-bg-neu: #1e293b;
  --color-shadow-light: #29384d;
  --color-shadow-dark: #131a25;
}

body {
  background-color: var(--color-bg-neu);
  color: #f8fafc;
}

.neu-flat {
  background-color: var(--color-bg-neu);
  box-shadow: 10px 10px 20px var(--color-shadow-dark),
             -10px -10px 20px var(--color-shadow-light);
}

.neu-pressed {
  background-color: var(--color-bg-neu);
  box-shadow: inset 6px 6px 12px var(--color-shadow-dark),
              inset -6px -6px 12px var(--color-shadow-light);
}

.neu-button {
  background-color: var(--color-bg-neu);
  box-shadow: 6px 6px 12px var(--color-shadow-dark),
             -6px -6px 12px var(--color-shadow-light);
  transition: all 0.2s ease-in-out;
}

.neu-button:hover {
  box-shadow: 2px 2px 5px var(--color-shadow-dark),
             -2px -2px 5px var(--color-shadow-light);
  transform: scale(0.98);
}

.neu-button:active {
  box-shadow: inset 4px 4px 8px var(--color-shadow-dark),
              inset -4px -4px 8px var(--color-shadow-light);
  transform: scale(0.95);
}
